* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.el-container,
.el-menu {
  height: 100%;
}

.mt-sm {
  margin-top: 5px;
}

.mt-lm {
  margin-top: 10px;
}

.mt-xm {
  margin-top: 15px;
}

.mb-sm {
  margin-bottom: 5px;
}

.mb-lm {
  margin-bottom: 10px;
}

.mb-xm {
  margin-bottom: 15px;
}

.mr-sm {
  margin-right: 5px;
}

.mr-lm {
  margin-right: 10px;
}

.mr-xm {
  margin-right: 15px;
}

.ml-sm {
  margin-left: 5px;
}

.ml-lm {
  margin-left: 10px;
}

.ml-xm {
  margin-left: 15px;
}
